In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import operator
import math
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor 
%matplotlib inline

In [3]:
#df = pd.read_csv("/home/hp/Desktop/College/Sem5/DA/Project/zomato-bangalore-restaurants/zomato.csv")
mylist = []

for chunk in  pd.read_csv("/home/hp/Desktop/College/Sem5/DA/Project/newzomato.csv", sep=',', chunksize=20000):
    mylist.append(chunk)

big_data = pd.concat(mylist, axis= 0)
df = big_data

del mylist

In [4]:
df['rate'].fillna((df['rate'].median()), inplace=True)
df['approx_cost(for two people)'].fillna((df['approx_cost(for two people)'].median()), inplace=True)

In [5]:
transformed_df = df.copy()
transformed_df['new_Cuisine1'], _ = pd.factorize(transformed_df['Cuisine1'], sort=True)
transformed_df['new_Cuisine2'], _ = pd.factorize(transformed_df['Cuisine2'], sort=True)
transformed_df['new_rest1'], _ = pd.factorize(transformed_df['rest1'], sort=True)
transformed_df['new_listed_in'], _ = pd.factorize(transformed_df['listed_in(type)'], sort=True)
transformed_df['new_location'], _ = pd.factorize(transformed_df['location'], sort=True)
transformed_df['new_online_order'], _ = pd.factorize(transformed_df['online_order'], sort=True)
transformed_df['new_book_table'], _ = pd.factorize(transformed_df['book_table'], sort=True)

to_drop = ['Cuisine1',
           'Cuisine2',
           'rest1',
           'listed_in(type)',
           'location',
           'online_order',
           'book_table',
           'name']
transformed_df.drop(to_drop, inplace=True, axis=1)
transformed_df.dropna(how='any', inplace=True)

In [6]:
train, test = train_test_split(transformed_df, test_size=0.2)

In [7]:
train_x = train.loc[:, train.columns != 'rate']
train_y = train.loc[:, train.columns == 'rate']
test_x = test.loc[:, test.columns != 'rate']
test_y = test.loc[:, test.columns == 'rate']

In [8]:
regressor = DecisionTreeRegressor(random_state = 0)

In [9]:
regressor.fit(train_x, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [10]:
y_pred = list(regressor.predict(test_x))

In [11]:
y_pred = np.around(y_pred,decimals=1)
test_y = list(test_y['rate'])
y_pred = list(y_pred)
acc = 0
for i in range(len(y_pred)):
    if(round((y_pred[i] - test_y[i]),1)<0.1):
        acc = acc + 1
print(acc)
print(acc/len(y_pred))

8200
0.8043158410985778

In [12]:
list(regressor.predict([(200,29,29,0,0,0,1,1)]))

[3.9]

In [ ]:
apprx = [200,400,600,800,1000,1200,1400,1600,1800,2000]
cus1 = list(set(list(train_x['new_Cuisine1'])))
cus2 = list(set(list(train_x['new_Cuisine2'])))
rest1 = list(set(list(train_x['new_rest1'])))
list1 = list(set(list(train_x['new_listed_in'])))
loc1 = list(set(list(train_x['new_Cuisine2'])))
online = [0,1]
book = [0,1]
for i in list(set(list(train_x['new_location']))):
    m  = [0,[]]
    loc = [i]
    k = [apprx,cus,loc,online,book]
    for element in  itertools.product(*k):
        p = round(list(regressor.predict([element]))[0],2)
        if(p>m[0]):
            m[0] = p
            m[1] = [element[0],cus_label[element[1]],loc_label[element[2]],on_label[element[3]],book_label[element[4]]]
    print(m)

In [13]:
test_x

,approx_cost(for two people),new_Cuisine1,new_Cuisine2,new_rest1,new_listed_in,new_location,new_online_order,new_book_table
290,450.0,10,30,5,2,32,1,0
14964,150.0,11,8,7,2,20,0,0
32512,1200.0,29,11,4,2,45,1,1
29054,500.0,29,15,11,2,32,1,0
47372,700.0,10,7,11,3,83,1,0
48326,600.0,35,35,2,2,76,1,0
27300,800.0,29,29,6,2,41,0,0
36955,300.0,29,29,11,4,41,0,0
44482,1000.0,10,19,4,2,27,1,0
7696,300.0,29,29,4,4,9,1,0
31719,600.0,12,10,12,1,45,1,0
42021,500.0,11,15,11,2,8,1,0
39716,450.0,29,11,4,4,77,0,0
47137,800.0,15,19,11,2,81,0,0
26337,400.0,11,27,8,2,22,1,0
12632,250.0,15,7,5,4,70,1,0
40582,450.0,13,7,11,2,26,1,0
22839,750.0,8,21,11,4,29,1,0
49129,1100.0,29,29,6,4,6,1,1
27227,200.0,29,11,11,2,0,1,0
43828,700.0,10,19,5,4,60,1,0
37900,1400.0,10,19,5,3,51,0,0
33912,600.0,29,29,5,4,41,0,0
32730,300.0,29,12,7,2,47,1,0
16372,600.0,29,8,3,2,44,0,0
17614,300.0,7,7,4,2,16,1,0
42990,150.0,29,29,11,4,79,0,0
33323,300.0,26,26,11,3,0,0,0
13110,1000.0,29,12,5,6,52,0,1
44674,200.0,5,5,5,2,27,0,0
...,...,...,...,...,...,...,...,...
19976,300.0,13,5,11,2,0,1,0
12857,250.0,35,35,4,4,71,0,0
41255,400.0,29,11,5,4,56,0,0
277,1200.0,29,28,5,2,32,1,1
6669,1200.0,16,16,4,0,56,0,0
8253,300.0,10,10,2,1,45,0,0
50490,200.0,35,1,6,4,89,0,0
35258,500.0,29,11,5,2,41,1,0
43461,300.0,15,9,5,2,92,1,0
36215,600.0,29,11,11,4,45,1,0
11357,1000.0,29,12,11,6,45,0,1
28179,600.0,29,11,4,4,46,1,0
50723,250.0,11,35,11,4,89,1,0
25254,300.0,29,12,11,2,21,1,0
43154,100.0,29,37,4,4,27,1,0
25510,250.0,35,35,0,2,37,1,0
12506,800.0,27,27,7,4,14,1,0
4779,850.0,11,38,11,4,76,1,0
7778,1800.0,29,29,5,4,89,0,0
36725,200.0,35,35,5,4,32,1,0
6944,600.0,29,28,5,2,9,1,1
31304,300.0,35,8,5,4,71,1,0
28466,200.0,29,11,5,4,18,0,0
1739,200.0,15,7,5,2,0,0,0
29552,200.0,8,8,4,2,47,1,0
11958,600.0,11,27,5,2,27,1,0
19186,400.0,12,10,7,1,0,1,0
920,400.0,29,35,4,2,3,1,0
35064,600.0,0,27,7,2,0,1,0
20514,350.0,15,13,6,2,45,1,0